<h1><%= @blogger.name%></h1>

Total Post Likes <%= @blogger.posts_likes%> <br>

<% if @blogger.posts !=  [] %>
<%= link_to @blogger.most_liked_post.title, post_path(@blogger.most_liked_post)%>
<% else%> 
"Posts have no likes"
<% end %>